// SPDX-License-Identifier: GPL-2.0
/dts-v1/;

#include <dt-bindings/i3c/i3c.h>

/ {
	compatible = "cdns,xtensa-xtfpga";
	#address-cells = <1>;
	#size-cells = <1>;
	interrupt-parent = <&pic>;

	aliases {
		serial0 = &uart0;
	};

	chosen {
		bootargs = "earlycon=cdns,0xfd000000,115200 console=ttyPS0,115200 root=/dev/nfs nfsroot=192.168.0.16:/home/bbrezillon/projects/cadence/rootfs ip=dhcp rw earlyprintk xilinx_uartps.rx_trigger_level=32 loglevel=8 nohz=off ignore_loglevel";
		stdout-path = "serial0:115200n8";
	};

	memory@0 {
		device_type = "memory";
		reg = <0x00000000 0x40000000>;
	};

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;
		cpu@0 {
			compatible = "cdns,xtensa-cpu";
			reg = <0>;
			clocks = <&osc>;
		};
	};

	pic: pic {
		compatible = "cdns,xtensa-pic";
		#interrupt-cells = <2>;
		interrupt-controller;
	};

	clocks {
		coreclock: coreclock {
			#clock-cells = <0>;
			compatible = "fixed-clock";
			clock-frequency = <80000000>;
		};

		i3csysclock: i3csysclock {
			#clock-cells = <0>;
			compatible = "fixed-clock";
			clock-frequency = <50000000>;
		};
	};

	soc {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "simple-bus";
		ranges = <0x00000000 0xf0000000 0x10000000>;

		osc: main-oscillator {
			#clock-cells = <0>;
			compatible = "cdns,xtfpga-clock";
			reg = <0x0d020004 0x4>;
		};

		uart0: serial@0d000000 {
			compatible = "xlnx,xuartps", "cdns,uart-r1p8";
			clocks = <&osc>, <&osc>;
			clock-names = "uart_clk", "pclk";
			reg = <0x0d000000 0x1000>;
			interrupts = <0 0>;
		};

		sysregs: sysregs@0d020000 {
			compatible = "cdns,csp-sysregs";
			gpio-controller;
			#gpio-cells = <2>;
			reg = <0x0d020000 0x1000>;
		};

		emac0: emac@0d030000 {
			compatible = "cdns,zynqmp-gem";
			reg = <0x0d030000 0x1000>;
			interrupts = <1 0>;
			mac-address = [ 00 47 45 4D 30 31 ];
			clocks = <&coreclock>, <&coreclock>;
			clock-names = "pclk", "hclk";
			#address-cells = <1>;
			#size-cells = <0>;
			#stream-id-cells = <1>;
			phy-handle = <&phy0>;
			phy-mode = "gmii";

			phy0: phy@7 {
				reg = <7>;
				max-speed = <1000>;
			};
		};

		i3c_mst0: i3c-master@0d040000 {
			compatible = "cdns,i3c-master";
			clocks = <&coreclock>, <&i3csysclock>;
			clock-names = "pclk", "sysclk";
			interrupts = <3 0>;
			reg = <0x0d040000 0x1000>;
			#address-cells = <3>;
			#size-cells = <0>;

			status = "okay";
			i2c-scl-frequency = <100000>;

			nunchuk: nunchuk@52 {
				compatible = "nintendo,nunchuk";
				reg = <I2C_DEV(0x52, 0x10)>;
			};

			gpio-controller@68,1c9,0 {
/*
				reg = <I3C_DEV_WITH_STATIC_ADDR(0x68, 0x1c9,
								0x0, 0x0, 0x0)>;
*/
				reg = <I3C_DEV(0x1c9, 0x13, 0x3, 0x3)>;
				assigned-address = <0x24>;
			};
		};

		i3c_slv0: i3c-slave@0d060000 {
			compatible = "cdns,i3c-slave";
			clocks = <&coreclock>, <&i3csysclock>;
			clock-names = "pclk", "sysclk";
			interrupts = <8 0>;
			reg = <0x0d060000 0x1000>;
		};

		i3c_mst1: i3c-master@0d070000 {
			compatible = "cdns,i3c-master";
			clocks = <&coreclock>, <&i3csysclock>;
			clock-names = "pclk", "sysclk";
			interrupts = <4 0>;
			reg = <0x0d070000 0x1000>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";

			i2c-bus {
				#address-cells = <1>;
				#size-cells = <0>;
				clock-frequency = <400000>;
			};
		};

		i3c_mst2: i3c-master@0d080000 {
			compatible = "cdns,i3c-master";
			clocks = <&coreclock>, <&i3csysclock>;
			clock-names = "pclk", "sysclk";
			interrupts = <5 0>;
			reg = <0x0d080000 0x1000>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";

			i2c-bus {
				#address-cells = <1>;
				#size-cells = <0>;
				clock-frequency = <400000>;
			};
		};

		i2c0: i2c@0d090000 {
			compatible = "cdns,i2c-r1p14";
			clocks = <&coreclock>, <&i3csysclock>;
			clock-names = "pclk", "sysclk";
			interrupts = <2 0>;
			reg = <0x0d090000 0x1000>;
			clock-frequency = <400000>;
			#address-cells = <1>;
			#size-cells = <0>;
		};
	};
};
