menuconfig MTD_SIM
	tristate "Enable MTD simulator"
	select MTD_CMDLINE_PARTS
	help
	  MTD simulator allowing one to emulate an MTD device and its
	  characteristics. Each MTD device type has its own backend to emulate
	  different kind of devices and its associated constraints.

if MTD_SIM

config MTD_SIM_NAND
	bool "MTD simulator NAND backend"
	help
	  NAND backend for MTD simulator.

endif # MTD_UBI
